{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
